{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  {% block css %}

  {% endblock css %}
  {% block js %}

  {% endblock js %}
  
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col">

    </div>
    <div class="col-lg-8">

      <div class="container-fluid mt-5">
        <div class="container-fluid  text-center mt-2 mb-5 logoPwsz">
          <img class="logoPWSZ" src="{% static 'logo.jpg' %}"/>
        </div>
        <h1 class="text-center" style="color:rgb(23, 60, 139)">Sztuczna inteligencja - dr inż Jacek Paluszak</h1>
        <hr class="mt-5 mb-5">
        <div class="card mb-3">
          <div class="justify-content-center">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{% static 'plecak.png' %}" class="card-img" alt="plecak" style="padding: 2em;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h4 class="card-title">SI GR 11</h4>
                  <h6 class="card-title" style="font-style: italic;">Problem plecakowy</h6>
                  <p class="card-text text-justify">Jest to projekt pochylający się nad optymalizacją problemu plecakowego. Optymalizacja polega na tym aby jak najlepiej wykorzystać
                    zadaną przstrzeń przy wypełnianiu ich obiektami w naszym przypadku są to paczki kurierskie. W projekcie zastosowany został <strong>Algorytm Harmoniczny</strong>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        

      </div>

      <div class="container-fluid mt-5 mb-2 text-center">
        <h2 style="color:rgb(23, 60, 139)">Projekt wykonali</h2>
      </div>

      <div class="authors container-fluid">
        <div class="row">
          <div class="col text-center">
            <div class="divOfAuthor mt-5 mb-5">
              <img class="photoAuthor" src="{% static 'hubert.png' %}"/>
              <p class="authorName">Hubert Drzymalski</p>
            </div>
          </div>
          <div class="col text-center">
            <div class="divOfAuthor mt-5 mb-5">
              <img class="photoAuthor" src="{% static 'adrian.jpg' %}"/>
              <p class="authorName">Adrian Kleyna</p>              
            </div>      
          </div>
          <div class="col text-center">
            <div class="divOfAuthor mt-5 mb-5">
              <img class="photoAuthor" src="{% static 'piotr.jpg' %}"/>
              <p class="authorName">Piotr Brac</p>
            </div>
          </div>
        </div>
      </div>

      <div class="colorForm container mt-5 mb-5" style="width: 70%">
        <form  method="post" action="{% url 'index1' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="iteracjeLabel">Podaj liczbę iteracji</label>
            <input type="text" class="form-control" id="iteracjeLabel" placeholder="40000" aria-required="true" name="iteracje">
          </div>
          <div class="form-group">
            <label for="capacityLabel">Podaj wartość przestrzeni w centymerach sześciennych ( &#x33a4; )</label>
            <input type="text" class="form-control" id="capacityLabel" placeholder="80000" aria-required="true" name="capacity">
          </div>
          <div class="form-group text-center mt-4 mb-5">
            <button type="submit" class="btn btn-outline-light" value="Add post">Uruchom</button>
          </div>
        </form>

        <div class="container-fluid">
          <p style="text-align: right;"><a href="https://github.com/adriankleyna/SI_GR11">Przejdź do proejktu na GitHubie</a></p>
        </div>

      </div>

    </div>
    <div class="col">

    </div>
  </div>
</div>
</body>
</html>