.logoPWSZ {
  width: auto;
  height: 250px;
  }

  .colorForm {
    background: linear-gradient(180deg, rgba(27, 79, 138, 0.9) 50%, rgba(55, 208, 255, 0.8));
    border-radius: 2rem;
    padding: 2rem;
    color: white;
    
  }

  .photoAuthor {
    border-radius: 100%;
    object-fit: cover;
    height: 150px;
  }

  .authorName {
    color: rgb(23, 60, 139);
    margin-top: 1rem;
    font-weight: 500;
    font-style: italic;
  }

  .solutionText {
    color: green;
    font-weight: bold;
  }

  .photoHead {
    height: 350px;
  }